body {
    background-color: #F4F7F5;
    color: #222823;
    margin: 0 5%;
    font-family: 'Libre Franklin', sans-serif;
}

.name {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.name h1{
    font-size: 16vw;
    font-weight: bold;
}
@media (min-width: 768px) {
    .name h1 {
        font-size: 8vw;
    }
    .name {
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
}

@media (min-width: 1200px) { 
    p{
        font-size: 1.2rem;
    }
    .name p {
      font-size: 3rem;
    }
 }

.work .row a {
  display: inline-block;
}

 /* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.calendar {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}